<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>html, * {box-sizing: border-box !important};</style>
  </head>
  <body style="background: #171717; color: #ffffff; overflow: hidden auto; padding: 0; margin: 0;">
    <table
      width="100%" border="0" cellspacing="0" cellpadding="0"
      style="
        width: 100% !important; border: none; margin: 0; display: flex; justify-content: center; letter-spacing: 2px;
        font: normal small-caps normal 16px/20px
          'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        "
    >
      <tbody style="display: flex; width: inherit;">
        <tr style="display: flex; width: inherit; justify-content: center;">
          <td style="max-width: 600px; width: inherit; padding-top: 24px;">
            <table
              width="100%" border="0" cellspacing="0" cellpadding="0"
              style="border: 1px outset #65ffff; border-radius: 16px; box-shadow: 0 4px 8px #000; display: flex; justify-content: center;"
            >
              <tbody>
                <tr>
                  <td align="center" style="padding: 24px;">
                    <div style="text-align: left; width: 100%;">
                      <table
                        width="100%" border="0" cellspacing="0" cellpadding="0"
                        style="width: 100% !important"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="font-size: 24px; line-height: 28px; font-weight: bold; color: #65ffff; display: flex; justify-content: center; letter-spacing: 2px;"
                            >
                              diegoenriquezserrano.com
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        width="100%" cellpadding="0" cellspacing="0"
                        style="margin: 0; padding: 0"
                      >
                        <tr>
                          <td>
                            {% block content %}{% endblock %}
                          </td>
                        </tr>
                      </table>
                      <hr style="border: none; border-top: 1px outset #65ffff; width: 100%;" />
                      <div style="font-size: 14px; line-height: 24px; overflow-wrap: anywhere; color: #ccc;">
                        If you have any questions, contact us
                        <a
                          href="mailto:support@diegoenriquezserrano.com"
                          style="color: #65ffff; text-decoration: none"
                          target="_blank"
                        > 
                          by email</a>.
                        <p style="font-size: 14px; line-height: 24px; overflow-wrap: anywhere; color: #ccc;">
                          Copyright © 2025
                          <a
                            href="https://diegoenriquezserrano.com"
                            style="color: #65ffff; text-decoration: none; padding: 0; margin: 0;"
                            target="_blank"
                          >
                            Diego Enriquez-Serrano</a>. <br />
                          All rights reserved.
                        </p>
                        <p style="color: #ccc; font-size: 14px; line-height: 24px; overflow-wrap: anywhere;">
                          <a
                            href="https://e2.knock.app/t/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJoc3QiOiJlMi5rbm9jay5hcHAiLCJpYXQiOjE3NTQwNTg3MzU5NTY0MzksImlkeCI6MCwibWlkIjoiMzBnb21WZXBiRTJWNjZraDNqRUx2OUYwcGxQIiwidXJsIjoiaHR0cHM6Ly92ZXJjZWwuY29tL2Q_dG89JTJGJTVCdGVhbSU1RCUyRiU3RSUyRnNldHRpbmdzJTJGbm90aWZpY2F0aW9ucyZ0aXRsZT1Ob3RpZmljYXRpb24rU2V0dGluZ3MifQ.uzBspy4K4tWeKGHH4iaSyX1Wv6ICS4356YWODgQ7rCQ"
                            style="color: #65ffff; text-decoration: none"
                            target="_blank"
                          >
                            Manage your notification settings
                          </a>
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
