{% extends 'html/email_base_generic.html' %}
  {% block content %}
    <div
      id="app"
      class="width-100 height-100 overflow-x-hidden flex-column justify-content-start align-items-center"
    >
      <div class="squeeze-16 squish-16" style="max-width: 800px">
        <div
          class="squeeze-32 squish-32 border-rounded-24 border-color-cyan border-style-outset border-width-1 raised-2 stack-24"
          style="max-width: 600px"
        >
          <h2 class="text-color-light text-extra-large stack-24 drop-0">
            Hello {{ name }}
          </h2>
          <p
            class="text-color-light text-large font-weight-400 line-height-large stack-24 drop-0"
          >
            Click the button below to verify and complete your subscription to @{{ username }}:
          </p>
          <p
            class="font-weight-800 flex-row align-items-center justify-content-center width-100 drop-0 stack-0"
          >
            <a
              class="text-color-black text-align-center stack-0 border-rounded-16 surface-cyan squeeze-16 squish-8 border-style-outset border-color-cyan text-decoration-none"
              href="{{ client_url }}/subscription/confirmation/{{ confirmation_token }}"
            >
              Confirm subscription
            </a>
          </p>
        </div>
        <p
          class="text-small text-color-light drop-0 stack-0 width-full"
          style="max-width: 600px"
        >
          If you did not subscribe to this user, simply disregard this email.
          We send you updates you until you do.
        </p>
      </div>
    </div>
  {% endblock %}